[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux -2u new-session -d
ExecStop=/usr/bin/tmux kill-session

[Install]
WantedBy=default.target
