# jshap's not-so-standard .aliases

# -----------------------------------------
# control-flow aliases

# resource
if [ -x "$(command -v -- $SHELL)" ]; then
    alias reload="exec $SHELL"
else
    alias reload='exec zsh'
fi

alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ls -lha'

alias lol='lolcat'

alias sudo='sudo '

# -----------------------------------------
# environment stuff

# vim masterrace
alias vi="vim"

# zsh mv'ing
alias mmv='noglob zmv -W'


# -----------------------------------------
# misc

# because I can't type properly
[ -x "$(command -v thefuck)" ] && eval $(thefuck --alias)
alias spellcheck="aspell check "

# I always forget what it is
alias updatepkgsums="updpkgsums "

# dictionary?
alias def="/usr/bin/sdcv --color --utf8-output --utf8-input"
# (I didn't realize i had so much language stuff)

# get current ip
alias ipget="ifconfig | grep 'inet\s' | awk '{print \$2}'"

# vscode is gr8
alias vscode='code '

# probably not needed
alias open='open_command '

# startx on the dgpu :)
alias nvstartx='startx -- -config nv.xorg.conf'

# run on the dgpu :D
alias nvrun='__NV_PRIME_RENDER_OFFLOAD=1 __GLX_VENDOR_LIBRARY_NAME=nvidia __VK_LAYER_NV_optimus=NVIDIA_only'

# yt-dl
alias watchy='noglob mpv --gpu-context=wayland'

# rsync dev folders
alias gsync='rsync --exclude='/.git' --filter="dir-merge,- .gitignore" '

# rg keeps reading my home folder's .gitignore
#alias rg='rg --no-ignore-parent'
alias rg='rg --no-ignore-vcs'

alias yay='LESS=SR yay'
