# jshap's not-so-standard .aliases

# -----------------------------------------
# control-flow aliases

# resource
if [ -x "$(command -v -- $SHELL)" ]; then
    alias reload="exec $SHELL"
else
    alias reload='exec zsh'
fi

alias ls='ls --color=auto'
alias ll='ls -lh'
alias la='ls -lha'

alias lol='lolcat'

# -----------------------------------------
# environment stuff

# vim masterrace
alias vi="vim"

# zsh mv'ing
alias mmv='noglob zmv -W'


# -----------------------------------------
# misc

# because I can't type properly
[ -x "$(command -v thefuck)" ] && eval $(thefuck --alias)
alias spellcheck="aspell check "

# dictionary?
alias def="/usr/bin/sdcv --color --utf8-output --utf8-input"
# (I didn't realize i had so much language stuff)

# get current ip
alias ipget="ifconfig | grep 'inet\s' | awk '{print \$2}'"

# pwgen is gr8
alias pass="pwgen -0A"

# vscode is gr8
alias vscode='code '

# probably not needed
alias open='open_command '

# alias for nvidia-xrun
alias nstartx='nvidia-xrun'

# -----------------------------------------
# useless

alias manga_batch="batch_gimp"

