[user]
    email = <replace_me>
    name = Joel Shapiro
    #signingkey = 44E58546
[push]
    default = simple
[core]
    editor = vim
    excludesfile = ~/.gitignore

[commit]
    #gpgsign = true
[branch]
    #autosetupmerge = always
    #autosetuprebase = always

[merge]
    tool = vimdiff
[mergetool "vimdiff"]
    conflictstyle = diff3
[mergetool "gvimdiff"]
    conflictstyle = diff3
[mergetool "intellij"]
    cmd = idea merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[mergetool "vscode"]
    cmd = code --wait \"$MERGED\"

[diff]
    tool = vimdiff
[difftool]
    prompt = false
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true
[difftool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[difftool "intellij"]
    cmd = idea diff \"$LOCAL\" \"$REMOTE\"
[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"

[alias]
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
    untrack = "update-index --skip-worktree"
    retrack = "update-index --no-skip-worktree"
    new-push = "!f() { branch=$(git rev-parse --abbrev-ref HEAD); remote=$(git remote show); git push --set-upstream $remote $branch; }; f"
[advice]
    addIgnoredFile = false
