[user]
    email = <replace_me>
    name = Julie Shapiro
    #signingkey = 3BCEBBA21371B706
[push]
    default = simple
[core]
    editor = vim
    excludesfile = ~/.gitignore
    pager = delta
[init]
    defaultbranch = main

[commit]
    #gpgsign = true
[branch]
    #autosetupmerge = always
    #autosetuprebase = always

[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false

[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool "vimdiff"]
    conflictstyle = diff3
[mergetool "gvimdiff"]
    conflictstyle = diff3
[mergetool "intellij"]
    cmd = idea merge \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[mergetool "vscode"]
    cmd = code --wait \"$MERGED\"

[pull]
    rebase = true
[rebase]
    autoStash = true

[diff]
    colorMoved = default
    tool = vimdiff
[difftool]
    prompt = false
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true
[difftool "vimdiff"]
    cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[difftool "intellij"]
    cmd = idea diff \"$LOCAL\" \"$REMOTE\"
[difftool "vscode"]
    cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"

[advice]
    addIgnoredFile = false

[alias]
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
    untrack = "update-index --skip-worktree"
    retrack = "update-index --no-skip-worktree"
    new-push = "!f() { branch=$(git rev-parse --abbrev-ref HEAD); remote=$(git remote show); git push --set-upstream $remote $branch; }; f"

[lfs]
    contenttype = 0

[mailmap]
    file = ~/.git-mailmap

[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
