/* Show title of unread tabs with red and italic font */
/*
.tab.unread .label {
color: red !important;
font-style: italic !important;
}
 */

/* Add private browsing indicator per tab */
/*
.tab.private-browsing .label:before {
content: "🕶";
}
 */

/* Show internal tab id in the debug mode */
:root.debug .tab:not(.faviconized)::after {
    content: attr(data-tab-id);
    opacity: 0.5;
}

/* taken from https://github.com/piroor/treestyletab/wiki/Code-snippets-for-custom-style-rules#full-auto-showhide-theme */

/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {
    visibility: hidden;
    margin-left: -12px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
.tab .label {
    margin-left: 7px;
}

/* Better alignment of Favicons when collapsed */
.tab[data-level][data-level="0"] {
    margin-left: 2% !important;
}
.tab[data-level][data-level="1"] {
    margin-left: 4% !important;
}
.tab[data-level][data-level="2"] {
    margin-left: 6% !important;
}
.tab[data-level][data-level="3"] {
    margin-left: 8% !important;
}
.tab[data-level][data-level="4"] {
    margin-left: 10% !important;
}
.tab[data-level][data-level="5"] {
    margin-left: 12% !important;
}
.tab[data-level][data-level="6"] {
    margin-left: 14% !important;
}
.tab[data-level][data-level="6"] {
    margin-left: 16% !important;
}

/* Hide close buttons on tabs. */
.tab .closebox {
    visibility: collapse;
}
.tab:hover .closebox {
    visibility: initial;
}

/* don't ever show scrollbar! */
#tabbar {
    overflow-y: scroll;
}
:root.left #tabbar, #tabContextMenu, #tabContextMenu ul {
    margin-left: -7px;
}
:root.right #tabbar {
    margin-right: -7px;
}
